<%- include('./partials/header') %>
<div class="container">
    <h1 class="text-center mt-5"><%= message %></h1>
    <div class="d-flex justify-content-center">
        <img src="/images/notfound_background.svg" class="img-fluid mt-3">
    </div>
</div>
<%- include('./partials/footer') %>